[submodule "retinoskin-model"]
	path = retinoskin-model
	url = https://github.com/sarru1291/retinoskin-model
[submodule "retinoskin-frontend"]
	path = retinoskin-frontend
	url = https://github.com/sarru1291/retinoskin-frontend
[submodule "retinoskin-backend"]
	path = retinoskin-backend
	url = https://github.com/sarru1291/retinoskin-backend.git
